.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1rem;
}

.head-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

.inline {
  display: inline;
}

.justify-content {
  justify-content: space-between;
}
