* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Cabin, sans-serif;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

.main-header {
  margin-top: 0;
  color: white;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

label {
  font-weight: 800;
  margin-bottom: 0.1rem;
}

input,
textarea {
  margin-bottom: 1.3rem;
  border: 0.1rem solid rgb(199, 199, 199);
  border-radius: 0.2rem;
}

input:focus,
textarea:focus {
  outline-color: #7209b7;
}

header {
  background-color: #7209b7;
}

.submit-div {
  display: flex;
  justify-content: flex-end;
}

.submit {
  width: 15%;
  color: white;
  background-color: #7209b7;
  border-radius: 0.2rem;
  border: 0.1rem solid #00000045;
  padding: 0.3rem;
}

.image-div {
  height: 20rem;
  margin-bottom: 1.5rem;
}

.image-entry {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
