* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

.main-header {
  margin-top: 0;
  color: white;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

label {
  font-weight: 800;
  margin-bottom: 0.1rem;
}

input,
textarea {
  margin-bottom: 1.3rem;
}

header {
  background-color: #7209b7;
}

.submit-div {
  display: flex;
  justify-content: flex-end;
}

.submit {
  width: 15%;
}

.image-div {
  text-align: center;
  height: 17rem;
  margin-bottom: 1.5rem;
}

.image-entry {
  height: 17rem;
  width: 100%;
  object-fit: cover;
}
