header {
  background-color: #7209b7;
}

body {
  margin: auto;
  font-family: Cabin, sans-serif;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: 800;
  margin-bottom: 0.1rem;
}

input,
textarea {
  margin-bottom: 1.3rem;
  border: 0.1rem solid rgb(199, 199, 199);
  border-radius: 0.2rem;
  font-family: Cabin, sans-serif;
}

input:focus,
textarea:focus {
  outline-color: #7209b7;
}

.submit-div {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 15%;
  color: white;
  background-color: #7209b7;
  border-radius: 0.2rem;
  border: 0.1rem solid #00000045;
  padding: 0.3rem;
}

.image-div {
  height: 15rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

.image-entry {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.entries {
  font-size: 1.2rem;
  color: white;
  margin-left: 3rem;
  font-weight: 300;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

.main-header {
  /* margin-top: 0; */
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.top-bottom-margin {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.new-link {
  margin-top: 2.5rem;
  text-decoration: none;
  background-color: #7209b7;
  margin-bottom: 3.5rem;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  font-family: "Roboto Condensed", sans-serif;
}

.entries-header {
  font-size: 2rem;
  margin-top: 2.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.entries-header-margins {
  margin-top: -1rem;
  margin-bottom: -3rem;
}

.padding-zero {
  padding: 0;
}

.icon {
  padding-top: 1rem;
  font-size: 1rem;
  color: #7209b7;
}

.icon-div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.delete-entry {
  color: rgb(216, 138, 138);
}
